CompileFlags:
  Add: [
    "-isystem", "/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/15.2.0",
    "-isystem", "/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/15.2.0/arm-none-eabi",
    "-isystem", "/opt/devkitpro/devkitARM/arm-none-eabi/include",
    "-isystem", "/opt/devkitpro/libctru/include",
    "-D__3DS__",
  ]
  Remove: ["-mword-relocations"]
